.box-1 input {
  cursor: text;
}

.box-1 button {
  cursor: pointer;
}

.box-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 900px;
  height: 600px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #000;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  padding: 16px;
}

.box-1 .img-box {
  position: relative;
  width: 55%;
  height: 100%;
  z-index: 1;
}

.box-1 .img-box div {
  height: 100%;
}

.box-1 .img-box .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  pointer-events: none; /* MUHIM */
}

.box-1 .login-section {
  position: relative;
  z-index: 2;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box-1 .login-section .login-title {
  width: 108px;
  height: 47px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-top: 30px;
  margin-left: 50px;
  color: #311f09ef;
}

.box-1 .login-section .login-desc {
  width: 100%;
  height: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #5a452b9a;
  margin-left: 50px;
}

.box-1 .login-section .login-form {
  margin-top: 60px;
  gap: 20px;
}

.box-1 .login-section .login-form .text-form {
  width: 320px;
  height: 55px;
  margin-left: 50px;
}

.box-1 .login-section .login-form .text-form .MuiOutlinedInput-root {
  background: #f5f5f5;
  border-radius: 10px;
  height: 55px;
}

.box-1 .login-section .login-btn {
  margin-top: 70px;
  gap: 20px;
}

.box-1 .login-section .login-btn .log-btn {
  background: #ff8a00;
  height: 50px;
  width: 320px;
  font-size: 15px;
  margin-left: 50px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: Poppins, sans-serif;
}

.box-1 .login-section .login-btn .g-btn {
  height: 50px;
  width: 320px;
  font-size: 15px;
  margin-left: 50px;
  border: 0;
  border-radius: 10px;
  gap: 10px;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
